.page {
    display: none;
}

.logged{
	background-color: white;
}

body{
	background-image: url('sggw_back.jpg');
        background-repeat: no-repeat;
        background-size: cover;
	
}

.content {
    width: 54%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height:400px;
    border-radius:5px;
    padding:3%;
    opacity:0.9;
    
}

.banner{
	width:100%;
	background-image: url('sggw.png');
}

.navBarItem{
    margin-right:10px;
    float:left;
    font-size:23px;
    padding:10px;
}

.navBar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom:15px;
}

.endOfRow {
    clear: both;
}

a:link, a:visited {
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  color:black;
}

a:hover, a:active {
  font-weight:900;
}

.main {
    width: 73%;
    float: left;
}

.sideBar {
    width: 15%;
    float: left;
    margin-left:20px;
    background-color: palegoldenrod;
}

.image{
    background-color:white;
}

.bigColumn {
    width: 55%;
    float: left;
    margin-right: 5%;
}

.smallColumn {
    width: 35%;
    float: left;
}

@media only screen and (max-width:640px) {
    .banner,.smallColumn, .someText {
        width: 100%;
    }

    .navBarItem{
        font-size:20px;
    }

    .content {
        width: 94%;
    }

    img {
        width: 60%;
        height:60%;
    }


    .sideBar, .main {
        width: 100%;
        margin: 0;
    }

    .bigColumn {
        width: 55%;
        float: left;
        margin-right: 5%;
    }

    .smallColumn {
        width: 35%;
        float: left;
    }

}

@media only screen and (max-width:480px) {
    .banner, .smallColumn, .someText {
        width: 100%;
    }

    .navBarItem {
        font-size: 15px;
    }

    .content {
        width: 100%;
    }

    img {
        width: 100%;
    }


    .sideBar, .main {
        width: 100%;
        margin: 0;
    }

    .smallColumn {
        float: none;
    }

    .bigColumn {
        margin-right: 0;
        width: 100%;
    }
}		
